body {
    background-color: #021c36;
}

#navbar {
    list-style-type: none;
    background-color: #032b53;
    display: flex;
    flex-direction: row;
}

#navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    justify-content: center;
    font-size: 16px;
}

#navbar a:hover {
    background-color: #043c74;
    color: black;
}