/* General CSS for the body / etc. */
body {
    background-color: hsl(0, 0%, 5%);
}


/* CSS for the three main sections of the page */
#main_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


/* LEFT SECTION */
#left_section {
    background-color: hsl(0, 0%, 15%);
    flex: 1;
}


/* MIDDLE SECTION */
#middle_section {
    display: flex;
    flex-direction: column;;
    background-color: hsl(0, 0%, 5%);
    flex: 5;
}

#middle_section h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: hsl(0, 0%, 95%);
}
#middle_section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: hsl(0, 0%, 80%);
}


/* RIGHT SECTION */
#right_section {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 5%);
    flex: 4;
}

/* Headshot image and icons in right section */

#headshot_photo {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 50% 0% 50% 0%;
}