/* General CSS for the body / etc. */
body {
    background-color: hsl(0, 0%, 5%);
    margin: 0px;
}


/* CSS for the three main sections of the page */
#main_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


/* LEFT SECTION */
#left_section {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 10%);
    flex: .5;
}

#filler_div_one {
    display: flex;
    flex: 1;
}

#social_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.social {
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.social:hover {
    background-color: hsl(0, 0%, 15%);
}

#left_section a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}

#filler_div_two {
    display: flex;
    flex: 1;
}


/* MIDDLE SECTION */
#middle_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    background-color: hsl(0, 0%, 5%);
    flex: 5;
}

#link_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}

#middle_section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    padding-left: 15px;
    margin: 0px 0px 0px 30px;
    color: hsl(0, 0%, 95%);
}
#middle_section p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 20px 30px;
    line-height: 1;
    font-size: 32px;
    padding-left: 15px;
    width: 90%;
    color: hsl(0, 0%, 80%);
}

.main_links {
    background-color: hsl(0, 0%, 5%);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#my_work_link {
    border-radius: 10px;
    background-color: hsl(0, 0%, 35%);
}

#my_work_link:hover {
    border-style: solid;
    border: 1px;
    border-color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 15%);
    scale: 105%;
}

#about_me_link {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: hsl(0, 0%, 45%);
}

#about_me_link:hover {
    background-color: hsl(0, 0%, 15%);
    scale: 105%;
}

/* RIGHT SECTION */
#right_section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 5%);
    flex: 4.5;
}

/* Headshot image and icons in right section */

#extra_div {
    display: flex;
    flex: 1;
}
#headshot_div {
    display: flex;
    flex: 2;
    justify-content: center;
    align-content: center;
}

#headshot_photo {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 50% 0% 50% 0%;
}

#headshot_photo:hover {
    scale: 105%;
}

#tools_and_tech_div {
    display: flex;
    flex-direction: row;
    flex: 1;
}