/* General Styling */

body {
    background-color: hsl(0, 0%, 5%);
}

/* Nav Bar Styling */

#navbar {
    list-style-type: none;
    background-color: hsl(0, 0%, 15%);
    display: flex;
    flex-direction: row;
}

#navbar a {
    float: left;
    color: hsl(0, 0%, 95%);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    justify-content: center;
    font-size: 16px;
}

#navbar a:hover {
    background-color: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 5%);
}

#about_page_title {
    color: white;
    justify-self: center;
}


#description_block_1 {
    display: flex;
    width: 30%;
    border-radius: 10px;
    justify-self: center;
    background-color: black;
}

#description_block_1 p {
    color: white;
    padding: 14px 16px;
}

#description_block_1 h2 {
    color: white;
    padding: 14px 16px;
}

#interests_container {
    display: flex;
    background-color: hsl(0, 0%, 15%);
    justify-self: center;
    border-radius: 10px;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.interest_card {
    width: 25%;
    height: 40%;
    justify-content: center;
    align-content: center;
    background-color: grey;
}

.interest_card h2 {
    color: white;
    justify-self: center;
}

.interest_card p {
    color: white;
    justify-self: center;
}

.headshot {
    justify-self: center;
    width: 300px;
    height: 300px;
    border-radius: 50% 15% 50% 15%;
    object-fit: cover;
    object-position: center;
    display: block;
}
