/* General CSS for the body / etc. */
body {
    background-color: hsl(0, 0%, 5%);
}


/* CSS for the three main sections of the page */
#main_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}


/* LEFT SECTION */
#left_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 10%);
    flex: 1;
}

#left_section a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
}


/* MIDDLE SECTION */
#middle_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 16px;
    background-color: hsl(0, 0%, 5%);
    flex: 5;
}

#button_container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}

#middle_section h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    padding-left: 15px;
    color: hsl(0, 0%, 95%);
}
#middle_section p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    padding-left: 30px;
    width: 80%;
    color: hsl(0, 0%, 80%);
}

.main_btn {
    background-color: hsl(0, 0%, 25%);
    border: none;
    color: hsl(0, 0%, 95%);
    width: 20%;
    height: 15%;
    padding: 15px 30px;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}


/* RIGHT SECTION */
#right_section {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 5%);
    flex: 4;
}

/* Headshot image and icons in right section */

#headshot_photo {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 50% 0% 50% 0%;
}